---
layout: photography
title: Fieldwork
---

<div id="gallery"> <!--key to making poptrox work-->

	<section id="main">
		<div class="container">
			<h2>European Alps</h2>
			<a class="anchor" id="fieldAlps"></a>
		</div>
	</section>

	<section id="main" class="wrapper">
		{% for image in site.static_files %}
			{% if image.path contains 'European Alps'%}
				<article class="thumb">
					<a href="{{ site.baseurl }}{{ site.image_European Alps_loc }}/{{ image.name }}" class="image">
						<!-- <img class="lozad" data-src="{{ site.baseurl }}{{ site.image_water_thumbs_loc }}/{{ image.name }}"/> -->
						<!-- <noscript> -->
							<img src="{{ site.baseurl }}{{ site.image_European Alps_loc }}/{{ image.name }}"/>
						<!-- </noscript> -->
					</a>
				</article>
			{% endif %}
		{% endfor %}
	</section>

	<section id="main">
		<div class="container">
			<h2 style="padding-top: 2em">Greenland</h2>
			<a class="anchor" id="fieldGreen"></a>
		</div>
	</section>

	<section id="main" class="wrapper">
		{% for image in site.static_files %}
			{% if image.path contains 'fulls' and image.path contains 'mountains' %}
				<article class="thumb">
					<a href="{{ site.baseurl }}{{ site.image_mountains_fulls_loc }}/{{ image.name }}" class="image">
						<!-- <img class="lozad" data-src="{{ site.baseurl }}{{ site.image_mountains_thumbs_loc }}/{{ image.name }}"/> -->
						<!-- <noscript> -->
							<img src="{{ site.baseurl }}{{ site.image_mountains_thumbs_loc }}/{{ image.name }}"/>
						<!-- </noscript> -->
					</a>
				</article>
			{% endif %}
		{% endfor %}
	</section>

	<section id="main">
		<div class="container">
			<h2 style="padding-top: 2em">Central Asia</h2>
			<a class="anchor" id="fieldCA"></a>
		</div>
	</section>

	<section id="main" class="wrapper">
		{% for image in site.static_files %}
			{% if image.path contains 'CA' %}
				<article class="thumb">
					<a href="{{ site.baseurl }}{{ site.image_CA_loc }}/{{ image.name }}" class="image">
						<!-- <img class="lozad" data-src="{{ site.baseurl }}{{ site.image_CA_loc }}/{{ image.name }}"/> -->
						<!-- <noscript> -->
							<img src="{{ site.baseurl }}{{ site.image_CA_loc }}/{{ image.name }}"/>
						<!-- </noscript> -->
					</a>
				</article>
			{% endif %}
		{% endfor %}
	</section>

</div>
