---
layout: default
title: Publications
---

<!--  for book chapters can use "authorship" field to e.g. add "contributions to" before list of editors (omit authors and chapter title, then) -->

<!-- To add icons (below), have to remove underline from link style yet, and change text color -->
<div class="container">
	<ul class="icons">
<!-- 		<li><a target="_blank" rel="noopener noreferrer" href="https://www.webofscience.com/wos/author/record/1680894" class="ai ai-researcherid ai-2x"></a></li> -->
		<li><a target="_blank" rel="noopener noreferrer" href="https://www.researchgate.net/profile/Alessandro-Cicoira" class="ai ai-researchgate fa-2x"></a></li>
		<li><a target="_blank" rel="noopener noreferrer" href="https://scholar.google.com/citations?user=1GrOdR4AAAAJ&hl=en&oi=ao" class="ai ai-google-scholar ai-2x"></a></li>
		<li><a target="_blank" rel="noopener noreferrer" href="https://orcid.org/0000-0002-0065-4464" class="ai ai-orcid ai-2x"></a></li>
		<li><b><a target="_blank" rel="noopener noreferrer" href="https://www.zora.uzh.ch/cgi/search/archive/advanced?creators_name%2Feditors_name=%22Cicoira,%20Alessandro%22" style="font-size:11pt;line-height:0.95;display:block">Zurich Open Repository<br>and Archive (ZORA)</a></b></li>
	<ul>
</div>

<!-- Altmetric badges -->
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

<!-- OPTIONS -->
{% assign shownewonly = false %}
{% assign oldestyearshown = 1900 %}
{% assign showdimensions = false %}
{% assign showaltmetric = false %}
		
<h2>Articles in peer-reviewed journals <small></small></h2>
<a class="anchor" id="PR"></a>
<ol reversed="">
	{% for item in site.data.publications_papers %}
		{% if item.year >= oldestyearshown or item.new == "Y" and shownewonly == true %}
			<li>
				{% if item.new == "Y" %}
					<div class="tooltip">
						<font color="3B6FEF"><i class="fas fa-circle fa-sm"></i></font>
						<span class="tooltiptext">added recently</span>
					</div>
				{% endif %}
				<b>{{ item.authors | replace:'Cicoira A','<u>Cicoira A</u>' }},
				{{ item.year }}.</b>
				{% capture lastchar %}{{ item.title | slice:-1 }}{% endcapture %}
				{% if lastchar == "?" or lastchar == "!" %}
					{{ item.title }}
				{% else %}
					{{ item.title }}.
				{% endif %}
				<i>{{ item.journal }}</i>,
				{% if item.volume == "in press" or item.volume == "accepted" or item.volume == "published online" %}
					{% if item.doi %}
						{{ item.volume }},
						<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
					{% else %}
						{{ item.volume }}.
					{% endif %}
				{% elsif item.special_issue %}
					{{ item.special_issue }},
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% elsif item.issue and item.pages and item.doi %}
					<b>{{ item.volume }}</b>({{ item.issue }}),
					{{ item.pages }},
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% elsif item.volume and item.issue == null and item.pages == null and item.doi %}
					<b>{{ item.volume }}</b>,
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% elsif item.issue and item.doi == null %}
					<b>{{ item.volume }}</b>({{ item.issue }}),
					{{ item.pages }}.
				{% elsif item.issue == null and item.doi %}
					<b>{{ item.volume }}</b>,
					{{ item.pages }},
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% else %}
					<b>{{ item.volume }}</b>,
					{{ item.pages }}.
				{% endif %}
				{% if showdimensions and item.doi %}
				  <a class="__dimensions_badge_embed__" data-doi="{{ item.doi }}" data-hide-zero-citations="true" data-style="small_rectangle"></a>
					<!-- <a class="altmetric-embed" data-badge-popover="right" data-badge-type="2" data-doi="https://dx.doi.org/{{ item.doi }}" data-hide-no-mentions="true"></a> -->
				{% endif %}
				{% if showaltmetric and item.doi %}
					<a class="altmetric-embed" data-badge-popover="right" data-badge-type="2" data-doi="https://dx.doi.org/{{ item.doi }}" data-hide-no-mentions="true"></a>
				{% endif %}
				{% include publications_pdf_and_notes.html %}
			</li>
		{% endif %}
	{% endfor %}
</ol>

<h2>Pre-prints in review <small></small></h2>
<a class="anchor" id="PP"></a>
<ol reversed="">
	{% for item in site.data.publication_preprints %}
		{% if item.year >= oldestyearshown or item.new == "Y" and shownewonly == true %}
			<li>
				{% if item.new == "Y" %}
					<div class="tooltip">
						<font color="3B6FEF"><i class="fas fa-circle fa-sm"></i></font>
						<span class="tooltiptext">added recently</span>
					</div>
				{% endif %}
				<b>{{ item.authors | replace:'Cicoira A','<u>Cicoira A</u>' }},
				{{ item.year }}.</b>
				{% capture lastchar %}{{ item.title | slice:-1 }}{% endcapture %}
				{% if lastchar == "?" or lastchar == "!" %}
					{{ item.title }}
				{% else %}
					{{ item.title }}.
				{% endif %}
				<i>{{ item.journal }}</i>,
				{% if item.volume == "in press" or item.volume == "accepted" or item.volume == "published online" %}
					{% if item.doi %}
						{{ item.volume }},
						<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
					{% else %}
						{{ item.volume }}.
					{% endif %}
				{% elsif item.special_issue %}
					{{ item.special_issue }},
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% elsif item.issue and item.pages and item.doi %}
					<b>{{ item.volume }}</b>({{ item.issue }}),
					{{ item.pages }},
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% elsif item.volume and item.issue == null and item.pages == null and item.doi %}
					<b>{{ item.volume }}</b>,
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% elsif item.issue and item.doi == null %}
					<b>{{ item.volume }}</b>({{ item.issue }}),
					{{ item.pages }}.
				{% elsif item.issue == null and item.doi %}
					<b>{{ item.volume }}</b>,
					{{ item.pages }},
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% else %}
					<b>{{ item.volume }}</b>,
					{{ item.pages }}.
				{% endif %}
				{% if showdimensions and item.doi %}
				  <a class="__dimensions_badge_embed__" data-doi="{{ item.doi }}" data-hide-zero-citations="true" data-style="small_rectangle"></a>
					<!-- <a class="altmetric-embed" data-badge-popover="right" data-badge-type="2" data-doi="https://dx.doi.org/{{ item.doi }}" data-hide-no-mentions="true"></a> -->
				{% endif %}
				{% if showaltmetric and item.doi %}
					<a class="altmetric-embed" data-badge-popover="right" data-badge-type="2" data-doi="https://dx.doi.org/{{ item.doi }}" data-hide-no-mentions="true"></a>
				{% endif %}
				{% include publications_pdf_and_notes.html %}
			</li>
		{% endif %}
	{% endfor %}
</ol>


<h2>Book Chapters <small></small></h2>
<a class="anchor" id="PB"></a>
<ol reversed="">
	{% for item in site.data.publications_books %}
		{% if item.year >= oldestyearshown or item.new == "Y" and shownewonly == true %}
			<li>
				{% if item.new == "Y" %}
					<div class="tooltip">
						<font color="3B6FEF"><i class="fas fa-circle fa-sm"></i></font>
						<span class="tooltiptext">added recently</span>
					</div>
				{% endif %}
				<b>{{ item.authors | replace:'Cicoira A','<u>Cicoira A</u>' }},
				{{ item.year }}.</b>
				{% capture lastchar %}{{ item.title | slice:-1 }}{% endcapture %}
				{% if lastchar == "?" or lastchar == "!" %}
					{{ item.title }}
				{% else %}
					{{ item.title }}.
				{% endif %}
				<i>{{ item.journal }}</i>,
				{% if item.volume == "in press" or item.volume == "accepted" or item.volume == "published online" %}
					{% if item.doi %}
						{{ item.volume }},
						<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
					{% else %}
						{{ item.volume }}.
					{% endif %}
				{% elsif item.special_issue %}
					{{ item.special_issue }},
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% elsif item.issue and item.pages and item.doi %}
					<b>{{ item.volume }}</b>({{ item.issue }}),
					{{ item.pages }},
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% elsif item.volume and item.issue == null and item.pages == null and item.doi %}
					<b>{{ item.volume }}</b>,
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% elsif item.issue and item.doi == null %}
					<b>{{ item.volume }}</b>({{ item.issue }}),
					{{ item.pages }}.
				{% elsif item.issue == null and item.doi %}
					<b>{{ item.volume }}</b>,
					{{ item.pages }},
					<a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/{{ item.doi }}" target='_blank'>doi:{{ item.doi }}</a>.
				{% else %}
					<b>{{ item.volume }}</b>,
					{{ item.pages }}.
				{% endif %}
				{% if showdimensions and item.doi %}
				  <a class="__dimensions_badge_embed__" data-doi="{{ item.doi }}" data-hide-zero-citations="true" data-style="small_rectangle"></a>
					<!-- <a class="altmetric-embed" data-badge-popover="right" data-badge-type="2" data-doi="https://dx.doi.org/{{ item.doi }}" data-hide-no-mentions="true"></a> -->
				{% endif %}
				{% if showaltmetric and item.doi %}
					<a class="altmetric-embed" data-badge-popover="right" data-badge-type="2" data-doi="https://dx.doi.org/{{ item.doi }}" data-hide-no-mentions="true"></a>
				{% endif %}
				{% include publications_pdf_and_notes.html %}
			</li>
		{% endif %}
	{% endfor %}
</ol>